<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <script src="./jszip.min.js"></script>
  <script src="./pixi.min.js"></script>
  <script src="./BeatMapParser.js"></script>
  <p id="score"></p>
  <p id="health"></p>
  <div id="beatmaps"></div>
  <script src="./index.js"></script>
  <button onclick="devmode()">Developer Mode</button>
  <button onclick="checkshit()">Start Gaem</button>
  <button onclick="stop()">stop</button>
  <input type="file" name="OuSFILE" id="osufile" />
  <button onclick="ReadFile()">open</button>
</html>
